.vscode/c_cpp_properties.json
.vscode/uv4.log.lock
.vscode/keil-assistant.log

*.o
*.crf
*.d
*.axf
*.bin
Objects/CommomBQ769x0_16series_030C8T6_C_Target 1.dep
DebugConfig/Target_1_STM32F030C8.dbgconf
Objects/
CommomBQ769x0_16series_030C8T6_C.uvoptx
CommomBQ769x0_16series_030C8T6_C.uvguix.cs
Code/Source/SocEnhance.c
JLinkLog.txt
JLinkSettings.ini
CommomBQ769x0_16series_030C8T6_C.uvguix.Administrator
.vscode/settings.json
EventRecorderStub.scvd
startup_stm32f0xx.lst
BC4Key.txt
*.bin

*.json
*.lock
*.dbgconf
*.Administrator
*.uvoptx

*.icf
